body {
    background-color: #d8f8e1;
  }
  
  h1 {
    color: #ff6961;
    text-align: center;
    font-size: Arial,helvetica,sans-serif; 
  }
  
  h2 {
    color: #fe8781;
    text-align: center;
    font-size: Arial,helvetica,sans-serif; 
  }

  p {
    
    font-size: 15px Arial,helvetica,sans-serif;         
  }

  a {
    text-decoration: none;
    font-size: 15px Arial,helvetica,sans-serif;
    text-align: center;         
  }